<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% if page.title %}{{ page.title }} — {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

  <meta property="og:type"        content="website">
  <meta property="og:title"       content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

  <link rel="icon" href="/public/favicon.ico">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;600;900&family=Lora:ital,wght@0,400;1,400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/style.css">
  <script src="https://analytics.ahrefs.com/analytics.js" data-key="ka7mTR4owD6K7uELu1VTtQ" async></script>
</head>
<body>
  {{ content }}
  <footer>
    <p>[ &copy; 2026 ]</p>
  </footer>
</body>
</html>
